*.mdl
*.wav
Packages/SSJ100/SimObjects
Packages/SSJ100/ModelBehaviorDefs
Packages/SSJ100/html_ui
Packages/SSJ100/effects
Packages/SSJ100/*.locPak
Packages/ssj100_CVT_
PackageSources/SimObjects/Airplanes/SU95/sound/sound.cfg
PackageSources/SimObjects/Airplanes/SU95/sound/*.wav
spreadsheet_calc/~$Su95_calc.ods
_PackageInt
*.wasm
target
third-party
Packages/SSJ100/layout.json
Packages/SSJ100/manifest.json
/src/fbw/obj/
fadec.o
node_modules
third-party
*.bak
*.blend1
src/model/TEXTURE
src/model/a320-interior/*.dds
src/model/a320-interior/*.json
3D_src/interior/texture
cmd_list.txt
3D_src/interior/temp_out/
fspackagetool.exe
MSFSLayoutGenerator.exe
PackageSources/SimObjects/Airplanes/SU95/model/*.bin
PackageSources/SimObjects/Airplanes/SU95/model/*.gltf
PackageSources/html_ui/Pages/VCockpit/Instruments/A32NX_SU95
