
[VERSION]

major =1 
minor =0 

[GENERAL]

; LEGACY
atc_type = "TT:ATCCOM.ATC_NAME_SUKHOI.0.text"
atc_model = "TT:ATCCOM.AC_MODEL_SU95.0.text" 
editable = 1 ; 
performance ="Velocidad de crucero:   477 nudos (885 km\/h)   \nMotores:   SAM-146 with 17,270 lbs max thrust   \nAlcance m?ximo:    2390 mn (4420 km)    \nTecho de servicio:    41000 pies (12500 m)    \nCapacidad de combustible:    3500 U.S. galons (10681 kg)    \nPeso en vac?o:    55000 lb (25000 kg)    \nPeso bruto m?ximo:    105000 lbs (47727 kg)    \nLargo:   98,23 pies (29,94 m)    \nEnvergadura:    91,20 pies (27,8 m)    \nAlto:    33,73 pies (10,28 m)    \nPlazas:    Asientos 98 (Standard single class)    \nCapacidad de carga:    775,8 pies3 (21,97 m3)" 
category = "airplane" ; 
; MODERN
wip_indicator = 2 
icao_type_designator = "SU95" ; 
icao_manufacturer = "SUKHOI" ; 
icao_model = "Superjet 100-95" ; 
icao_engine_type = "Jet" ; 
icao_engine_count = 2 ; 
icao_wtc = "M" ; 
;-icao_generic = 1 ; 

[EFFECTS]
wake = fx_wake
water = fx_spray
dirt = FX_ASOBO_TOUCHDIRT_BIG
concrete = FX_ASOBO_TOUCHCONCRETE_BIG
touchdown = FX_ASOBO_TouchDown_Big, 1
contrail = FX_ASOBO_CONTRAIL_BIG
effect.0 = FX_EXHAUST_LEFT#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = FX_EXHAUST_RIGHT#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG

[LOADING]
ImageName = LOADING_FREEFLIGHT
;- Tips0 = SU95.LOADING.TIPS.SU95_001
;- Tips1 = TT:SU95.LOADING.TIPS.SU95_002
;- Tips2 = "TT:SU95.LOADING.TIPS.SU95_003"
;- Tips3 = "SU95.LOADING.TIPS.SU95_004"
;- Tips4 = TT:SU95.LOADING.TIPS.SU95_005
;- Tips5 = TT:SU95.LOADING.TIPS.SU95_006
;- Tips6 = TT:SU95.LOADING.TIPS.SU95_007
;- Tips7 = TT:SU95.LOADING.TIPS.SU95_008
Tips0 = "Full flaps stall speed of SSJ100 is at 97 knot at 30000 kg and 118 kg at 45000 kg."
Tips1 = "The engine sound will spool down just as N1 starting up."
Tips2 = "SSJ100 is the third Russian airliners with fly-by-wire flight system."
Tips3 = "SSJ100 competes with Embraer E190 and Bombardier CRJ1000."
Tips4 = "Sukhoi Superjet 100 or SSJ100 first took to the sky in 19 May 2008."
Tips5 = "Newer version of SSJ100 are equipped with a wingtip device called Saberlet."
Tips6 = "Aeroflot is the largest operator of SSJ100."
Tips7 = "2 new versions of SSJ100 are planned. A 75-seat shrink and a 130-seat strech."

[STALL PROTECTION]
stall_protection = 1 ; Alpha Protection
off_limit = 9 ; Alpha below which the Alpha Protection can be disabled (If also below off_yoke_limit)
off_yoke_limit = 1 ; Yoke position (in Pct) below which the Alpha Protection can be disabled (If also below off_limit)
on_limit = 12 ; Alpha above which the Alpha Protection timer starts
on_goal = 10 ; The alpha that the Alpha Protection will attempt to reach when triggered
timer_trigger = 1.0 ; Duration (in Sec) the alpha must be above on_limit before the Alpha Protection is triggered

[EXITS]

; LEGACY
number_of_exits = 2 ; 
exit_rate.0 = 0.3 ; Percent per second
exit_rate.1 = 0.3 ; Percent per second
; MODERN
; ===================== FLTSIM =====================

[PILOT]

pilot ="Pilot_Female_Casual" 
copilot ="Pilot_Male_Casual" 
instructor ="Pilot_Male_Casual" 
pilot_default_animation ="Idle1_PosePropeller","","","","","","","","","","","","","","","" 
copilot_default_animation ="Idle1_PosePropeller","","","","","","","","","","","","","","","" 
pilot_attach_node ="PILOT_0" 
copilot_attach_node ="PILOT_1" 

[SERVICES]

fueltruck =1 
baggage_loader =1 
catering_truck =1 
boarding_ramp =1 
ground_power_unit =1 
pushback =1 
small_pushback =0 
marshaller =1 
jetway =1 

[TIMELINE.FLIGHT_RUNWAY]

flaps = 36 ; 

[LOADING]

imagename = LOADING_FREEFLIGHT ; 
[IKCHAINS]
right_hand_target=""
left_hand_target=""
left_foot_target=""
right_foot_target=""

[FLTSIM.0]
Title="Sukhoi SuperJet 100 (RRJ-95B) Aeroproyecto"
Model=""
Panel=""
Sound=""
Texture="aero"
KB_Checklists="Boeing747-400_check"
KB_Reference="Boeing747-400_ref"
description="SUKHOI SuperJet 100 R2.0 Freeware \nAEROPROYECTO 1999-2017 \nBy Edgar Guinart L?pez\nhttp: \s aeroproyecto.freetzi.com"
wip_indicator=2
ui_manufacturer="AEROPROYECTO"
ui_type="Sukhoi SuperJet 100 (RRJ-95B)"
ui_variation="Aeroproyecto"
ui_typerole="Commercial Airliner"
ui_createdby="Aeroproyecto"
ui_thumbnailfile=""
ui_certified_ceiling=40000
ui_max_range=1645
ui_autonomy=4
ui_fuel_burn_rate=-1
atc_id="CU-T733"
icao_airline=""
atc_id_enable=1
atc_airline=""
atc_flight_number=""
atc_heavy=0
atc_id_color="0x00000000"
atc_id_font=""
isAirTraffic=0
isUserSelectable=1
atc_parking_types=""
atc_parking_codes=""

[FLTSIM.1]
Title="Sukhoi SuperJet 100 (RRJ-95B) Interjet"
Model=""
Panel=""
Sound=""
Texture="interjet"
KB_Checklists="Boeing747-400_check"
KB_Reference="Boeing747-400_ref"
description="SUKHOI SuperJet 100 R2.0 Freeware \nAEROPROYECTO 1999-2017 \nBy Edgar Guinart L?pez\nhttp: \s aeroproyecto.freetzi.com"
wip_indicator=2
ui_manufacturer="AEROPROYECTO"
ui_type="Sukhoi SuperJet 100 (RRJ-95B)"
ui_variation="Interjet"
ui_typerole="Commercial Airliner"
ui_createdby="Aeroproyecto"
ui_thumbnailfile=""
ui_certified_ceiling=40000
ui_max_range=1645
ui_autonomy=4
ui_fuel_burn_rate=-1
atc_id="AX-A00"
icao_airline=""
atc_id_enable=1
atc_airline=""
atc_flight_number=""
atc_heavy=0
atc_id_color="0x00000000"
atc_id_font=""
isAirTraffic=0
isUserSelectable=1
atc_parking_types=""
atc_parking_codes=""

[FLTSIM.2]
Title="Sukhoi SuperJet 100 (RRJ-95B) Aeroflot"
Model=""
Panel=""
Sound=""
Texture="aeroflot"
KB_Checklists="Boeing747-400_check"
KB_Reference="Boeing747-400_ref"
description="SUKHOI SuperJet 100 R2.0 Freeware \nAEROPROYECTO 1999-2017 \nBy Edgar Guinart L?pez\nhttp: \s aeroproyecto.freetzi.com"
wip_indicator=2
ui_manufacturer="AEROPROYECTO"
ui_type="Sukhoi SuperJet 100 (RRJ-95B)"
ui_variation="Aeroflot"
ui_typerole="Commercial Airliner"
ui_createdby="Aeroproyecto"
ui_thumbnailfile=""
ui_certified_ceiling=40000
ui_max_range=1645
ui_autonomy=4
ui_fuel_burn_rate=-1
atc_id="RA-89001"
icao_airline=""
atc_id_enable=1
atc_airline=""
atc_flight_number=""
atc_heavy=0
atc_id_color="0x00000000"
atc_id_font=""
isAirTraffic=0
isUserSelectable=1
atc_parking_types=""
atc_parking_codes=""
